In [3]:
# Intialization
import os
import sys

os.environ["SPARK_HOME"] = "/home/talentum/spark"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
# In below two lines, use /usr/bin/python2.7 if you want to use Python 2
os.environ["PYSPARK_PYTHON"] = "/usr/bin/python3.6" 
os.environ["PYSPARK_DRIVER_PYTHON"] = "/usr/bin/python3"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

# NOTE: Whichever package you want mention here.
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0 pyspark-shell' 
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.3 pyspark-shell'
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell''

In [4]:
#Entrypoint 2.x
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Data cleaning").enableHiveSupport().getOrCreate()

# On yarn:
# spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().master("yarn").getOrCreate()
# specify .master("yarn")

sc = spark.sparkContext

In [7]:
from docutils.nodes import header
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType
from pyspark.sql.functions import col, regexp_replace, split, round

spark = SparkSession.builder.appName("ETL").enableHiveSupport().getOrCreate()

In [8]:
# -----------------   write data from local, into HDFS   -----------------------------------

# Define the local file path and the HDFS path
local_athlete = "file:///home/talentum/MiniProject/athlete_events.csv"
hdfs_athlete = "athlete_events.csv"

local_winners = "file:///home/talentum/MiniProject/Winners.csv"
hdfs_winners = "Winners.csv"

local_noc = "file:///home/talentum/MiniProject/noc_regions.csv"
hdfs_noc = "noc.csv"

In [10]:
athlete_schema = StructType([
    StructField("ID", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Sex", StringType(), True),
    StructField("Age", FloatType(), True),
    StructField("Height", FloatType(), True),
    StructField("Weight", FloatType(), True),
    StructField("Team", StringType(), True),
    StructField("Games", StringType(), True),
    StructField("City", StringType(), True),
    StructField("Sport", StringType(), True),
    StructField("Event", StringType(), True),
])

In [11]:
winners_schema = StructType([
    StructField("ID", IntegerType(), True),
    StructField("Name", StringType(), True),
    StructField("Team", StringType(), True),
    StructField("Games", StringType (), True),
    StructField("Sport", StringType(), True),
    StructField("Event", StringType(), True),
    StructField("Medal", StringType(), True)
])

In [12]:
noc_schema = StructType([
    StructField("NOC", StringType(), True),
    StructField("region", StringType(), True),
    StructField("notes", StringType(), True)
])

In [13]:
# Reading the CSV file from the local filesystem
localdf_athlete = spark.read.csv(local_athlete, header=True, schema=athlete_schema)
local_df_winners = spark.read.csv(local_winners, header=True, schema=winners_schema)
local_df_noc = spark.read.csv(local_noc, header=True, schema=noc_schema)

In [15]:
# Coalesce to a single file
localdf_athlete = localdf_athlete.coalesce(1)
local_df_winners = local_df_winners.coalesce(1)
local_df_noc = local_df_noc.coalesce(1)

In [16]:
# Write to HDFS
localdf_athlete.write.mode('overwrite').parquet(hdfs_athlete)
local_df_winners.write.mode('overwrite').parquet(hdfs_winners)
local_df_noc.write.mode('overwrite').parquet(hdfs_noc)

In [17]:
# -----------------   reading data from HDFS    --------------------------------

# Read the Parquet files from HDFS
df_athlete = spark.read.schema(athlete_schema).parquet(hdfs_athlete)
df_winners = spark.read.schema(winners_schema).parquet(hdfs_winners)
df_noc = spark.read.schema(noc_schema).parquet(hdfs_noc)

In [18]:
# -----------------   splitting athlete    ---------------------------------

## splitting columns
df_athlete = df_athlete.withColumn('Year', split(df_athlete['Games'], ' ').getItem(0)) \
    .withColumn('Season', split(df_athlete['Games'], ' ').getItem(1))

In [19]:
# -----------------   formatting athlete into km, m, etc    ---------------------------------

# Replacement rules
replacements = {
    'kilometres': 'km',
    'kilometers': 'km',
    'metres': 'm',
    'meters': 'm'
}

for old, new in replacements.items():
    df_athlete = df_athlete.withColumn("Event", regexp_replace(col("Event"), old, new))

In [20]:
# -----------------   Calculate BMI    ---------------------------------

df_athlete = df_athlete.withColumn("BMI", round(col("Weight") / (col("Height") / 100) ** 2, 2))
df_athlete = df_athlete.withColumn("BMI", round(col("Weight") / (col("Height") / 100) ** 2, 2).cast(FloatType()))

In [21]:
# -----------------   Join athlete_events with winners    ---------------------------------

# Perform an inner join on 'ID' and 'Event' to combine athlete and winner data
df_selected = df_athlete.join(df_winners, ["ID"], "inner") \
    .select(
        df_athlete.ID,
        df_athlete.Name,
        df_winners.Team,
        df_winners.Games,
        df_winners.Sport,
        df_winners.Medal
    ).show(truncate=False)

+---+------------------------+--------------+-----------+----------+------+
|ID |Name                    |Team          |Games      |Sport     |Medal |
+---+------------------------+--------------+-----------+----------+------+
|4  |Edgar Lindenau Aabye    |Denmark/Sweden|1900 Summer|Tug-Of-War|Gold  |
|15 |Arvo Ossian Aaltonen    |Finland       |1920 Summer|Swimming  |Bronze|
|15 |Arvo Ossian Aaltonen    |Finland       |1920 Summer|Swimming  |Bronze|
|15 |Arvo Ossian Aaltonen    |Finland       |1920 Summer|Swimming  |Bronze|
|15 |Arvo Ossian Aaltonen    |Finland       |1920 Summer|Swimming  |Bronze|
|15 |Arvo Ossian Aaltonen    |Finland       |1920 Summer|Swimming  |Bronze|
|15 |Arvo Ossian Aaltonen    |Finland       |1920 Summer|Swimming  |Bronze|
|15 |Arvo Ossian Aaltonen    |Finland       |1920 Summer|Swimming  |Bronze|
|15 |Arvo Ossian Aaltonen    |Finland       |1920 Summer|Swimming  |Bronze|
|15 |Arvo Ossian Aaltonen    |Finland       |1920 Summer|Swimming  |Bronze|
|15 |Arvo Ossian Aaltonen    |Finland       |1920 Summer|Swimming  |Bronze|
|16 |Juhamatti Tapio Aaltonen|Finland       |2014 Winter|Ice Hockey|Bronze|
|17 |Paavo Johannes Aaltonen |Finland       |1952 Summer|Gymnastics|Bronze|
|17 |Paavo Johannes Aaltonen |Finland       |1948 Summer|Gymnastics|Gold  |
|17 |Paavo Johannes Aaltonen |Finland       |1948 Summer|Gymnastics|Gold  |
|17 |Paavo Johannes Aaltonen |Finland       |1948 Summer|Gymnastics|Gold  |
|17 |Paavo Johannes Aaltonen |Finland       |1948 Summer|Gymnastics|Bronze|
|17 |Paavo Johannes Aaltonen |Finland       |1952 Summer|Gymnastics|Bronze|
|17 |Paavo Johannes Aaltonen |Finland       |1948 Summer|Gymnastics|Gold  |
|17 |Paavo Johannes Aaltonen |Finland       |1948 Summer|Gymnastics|Gold  |
+---+------------------------+--------------+-----------+----------+------+
only showing top 20 rows

In [22]:
# -----------------   Joining athlete_events with noc    ---------------------------------

df_joined_noc = df_athlete.join(df_noc, df_athlete.Team == df_noc.region, "inner") \
    .select(df_athlete.ID, df_athlete.Name, df_athlete.Sport, df_noc.NOC, df_noc.region).show(truncate=False)

+---+--------------------------------------+--------------------+---+-----------+
|ID |Name                                  |Sport               |NOC|region     |
+---+--------------------------------------+--------------------+---+-----------+
|1  |A Dijiang                             |Basketball          |HKG|China      |
|1  |A Dijiang                             |Basketball          |CHN|China      |
|2  |A Lamusi                              |Judo                |HKG|China      |
|2  |A Lamusi                              |Judo                |CHN|China      |
|3  |Gunnar Nielsen Aaby                   |Football            |DEN|Denmark    |
|5  |Christine Jacoba Aaftink              |Speed Skating       |NED|Netherlands|
|5  |Christine Jacoba Aaftink              |Speed Skating       |NED|Netherlands|
|5  |Christine Jacoba Aaftink              |Speed Skating       |NED|Netherlands|
|5  |Christine Jacoba Aaftink              |Speed Skating       |NED|Netherlands|
|5  |Christine Jacoba Aaftink              |Speed Skating       |NED|Netherlands|
|5  |Christine Jacoba Aaftink              |Speed Skating       |NED|Netherlands|
|8  |"Cornelia ""Cor"" Aalten (-Strannood)"|Athletics           |NED|Netherlands|
|8  |"Cornelia ""Cor"" Aalten (-Strannood)"|Athletics           |NED|Netherlands|
|9  |Antti Sami Aalto                      |Ice Hockey          |FIN|Finland    |
|10 |"Einar Ferdinand ""Einari"" Aalto"    |Swimming            |FIN|Finland    |
|11 |Jorma Ilmari Aalto                    |Cross Country Skiing|FIN|Finland    |
|12 |Jyri Tapani Aalto                     |Badminton           |FIN|Finland    |
|13 |Minna Maarit Aalto                    |Sailing             |FIN|Finland    |
|13 |Minna Maarit Aalto                    |Sailing             |FIN|Finland    |
|14 |Pirjo Hannele Aalto (Mattila-)        |Biathlon            |FIN|Finland    |
+---+--------------------------------------+--------------------+---+-----------+
only showing top 20 rows

In [23]:
# -----------------  INTO HIVE    ---------------------------------
spark.sql("CREATE DATABASE IF NOT EXISTS project")

spark.sql("USE project")

spark.sql("DROP TABLE IF EXISTS athlete_events")
spark.sql("DROP TABLE IF EXISTS winners")
spark.sql("DROP TABLE IF EXISTS noc")

# ORC table
df_athlete.write.mode('overwrite').format("orc").saveAsTable("athlete_events")
df_winners.write.mode('overwrite').format("orc").saveAsTable("winners")
df_noc.write.mode('overwrite').format("orc").saveAsTable("noc")



spark.sql("SELECT * FROM athlete_events").show(truncate=False)
spark.sql("SELECT * FROM winners").show(truncate=False)
spark.sql("SELECT * FROM noc").show(truncate=False)

+---+------------------------+---+----+------+------+--------------+-----------+-----------+--------------------+-------------------------------------------+----+------+-----+
|ID |Name                    |Sex|Age |Height|Weight|Team          |Games      |City       |Sport               |Event                                      |Year|Season|BMI  |
+---+------------------------+---+----+------+------+--------------+-----------+-----------+--------------------+-------------------------------------------+----+------+-----+
|1  |A Dijiang               |M  |24.0|180.0 |80.0  |China         |1992 Summer|Barcelona  |Basketball          |Basketball Men's Basketball                |1992|Summer|24.69|
|2  |A Lamusi                |M  |23.0|170.0 |60.0  |China         |2012 Summer|London     |Judo                |Judo Men's Extra-Lightweight               |2012|Summer|20.76|
|3  |Gunnar Nielsen Aaby     |M  |24.0|null  |null  |Denmark       |1920 Summer|Antwerpen  |Football            |Football Men's Football                    |1920|Summer|null |
|4  |Edgar Lindenau Aabye    |M  |34.0|null  |null  |Denmark/Sweden|1900 Summer|Paris      |Tug-Of-War          |Tug-Of-War Men's Tug-Of-War                |1900|Summer|null |
|5  |Christine Jacoba Aaftink|F  |21.0|185.0 |82.0  |Netherlands   |1988 Winter|Calgary    |Speed Skating       |Speed Skating Women's 500 m                |1988|Winter|23.96|
|5  |Christine Jacoba Aaftink|F  |21.0|185.0 |82.0  |Netherlands   |1988 Winter|Calgary    |Speed Skating       |Speed Skating Women's 1,000 m              |1988|Winter|23.96|
|5  |Christine Jacoba Aaftink|F  |25.0|185.0 |82.0  |Netherlands   |1992 Winter|Albertville|Speed Skating       |Speed Skating Women's 500 m                |1992|Winter|23.96|
|5  |Christine Jacoba Aaftink|F  |25.0|185.0 |82.0  |Netherlands   |1992 Winter|Albertville|Speed Skating       |Speed Skating Women's 1,000 m              |1992|Winter|23.96|
|5  |Christine Jacoba Aaftink|F  |27.0|185.0 |82.0  |Netherlands   |1994 Winter|Lillehammer|Speed Skating       |Speed Skating Women's 500 m                |1994|Winter|23.96|
|5  |Christine Jacoba Aaftink|F  |27.0|185.0 |82.0  |Netherlands   |1994 Winter|Lillehammer|Speed Skating       |Speed Skating Women's 1,000 m              |1994|Winter|23.96|
|6  |Per Knut Aaland         |M  |31.0|188.0 |75.0  |United States |1992 Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 10 km           |1992|Winter|21.22|
|6  |Per Knut Aaland         |M  |31.0|188.0 |75.0  |United States |1992 Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 50 km           |1992|Winter|21.22|
|6  |Per Knut Aaland         |M  |31.0|188.0 |75.0  |United States |1992 Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 10/15 km Pursuit|1992|Winter|21.22|
|6  |Per Knut Aaland         |M  |31.0|188.0 |75.0  |United States |1992 Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 4 x 10 km Relay |1992|Winter|21.22|
|6  |Per Knut Aaland         |M  |33.0|188.0 |75.0  |United States |1994 Winter|Lillehammer|Cross Country Skiing|Cross Country Skiing Men's 10 km           |1994|Winter|21.22|
|6  |Per Knut Aaland         |M  |33.0|188.0 |75.0  |United States |1994 Winter|Lillehammer|Cross Country Skiing|Cross Country Skiing Men's 30 km           |1994|Winter|21.22|
|6  |Per Knut Aaland         |M  |33.0|188.0 |75.0  |United States |1994 Winter|Lillehammer|Cross Country Skiing|Cross Country Skiing Men's 10/15 km Pursuit|1994|Winter|21.22|
|6  |Per Knut Aaland         |M  |33.0|188.0 |75.0  |United States |1994 Winter|Lillehammer|Cross Country Skiing|Cross Country Skiing Men's 4 x 10 km Relay |1994|Winter|21.22|
|7  |John Aalberg            |M  |31.0|183.0 |72.0  |United States |1992 Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 10 km           |1992|Winter|21.5 |
|7  |John Aalberg            |M  |31.0|183.0 |72.0  |United States |1992 Winter|Albertville|Cross Country Skiing|Cross Country Skiing Men's 50 km           |1992|Winter|21.5 |
+---+------------------------+---+----+------+------+--------------+-----------+-----------+--------------------+-------------------------------------------+----+------+-----+
only showing top 20 rows

+---+-------------------------+--------------+-----------+-------------+---------------------------------------------+------+
|ID |Name                     |Team          |Games      |Sport        |Event                                        |Medal |
+---+-------------------------+--------------+-----------+-------------+---------------------------------------------+------+
|4  |Edgar Lindenau Aabye     |Denmark/Sweden|1900 Summer|Tug-Of-War   |Tug-Of-War Men's Tug-Of-War                  |Gold  |
|15 |Arvo Ossian Aaltonen     |Finland       |1920 Summer|Swimming     |Swimming Men's 200 metres Breaststroke       |Bronze|
|15 |Arvo Ossian Aaltonen     |Finland       |1920 Summer|Swimming     |Swimming Men's 400 metres Breaststroke       |Bronze|
|16 |Juhamatti Tapio Aaltonen |Finland       |2014 Winter|Ice Hockey   |Ice Hockey Men's Ice Hockey                  |Bronze|
|17 |Paavo Johannes Aaltonen  |Finland       |1948 Summer|Gymnastics   |Gymnastics Men's Individual All-Around       |Bronze|
|17 |Paavo Johannes Aaltonen  |Finland       |1948 Summer|Gymnastics   |Gymnastics Men's Team All-Around             |Gold  |
|17 |Paavo Johannes Aaltonen  |Finland       |1948 Summer|Gymnastics   |Gymnastics Men's Horse Vault                 |Gold  |
|17 |Paavo Johannes Aaltonen  |Finland       |1948 Summer|Gymnastics   |Gymnastics Men's Pommelled Horse             |Gold  |
|17 |Paavo Johannes Aaltonen  |Finland       |1952 Summer|Gymnastics   |Gymnastics Men's Team All-Around             |Bronze|
|20 |Kjetil Andr Aamodt       |Norway        |1992 Winter|Alpine Skiing|Alpine Skiing Men's Super G                  |Gold  |
|20 |Kjetil Andr Aamodt       |Norway        |1992 Winter|Alpine Skiing|Alpine Skiing Men's Giant Slalom             |Bronze|
|20 |Kjetil Andr Aamodt       |Norway        |1994 Winter|Alpine Skiing|Alpine Skiing Men's Downhill                 |Silver|
|20 |Kjetil Andr Aamodt       |Norway        |1994 Winter|Alpine Skiing|Alpine Skiing Men's Super G                  |Bronze|
|20 |Kjetil Andr Aamodt       |Norway        |1994 Winter|Alpine Skiing|Alpine Skiing Men's Combined                 |Silver|
|20 |Kjetil Andr Aamodt       |Norway        |2002 Winter|Alpine Skiing|Alpine Skiing Men's Super G                  |Gold  |
|20 |Kjetil Andr Aamodt       |Norway        |2002 Winter|Alpine Skiing|Alpine Skiing Men's Combined                 |Gold  |
|20 |Kjetil Andr Aamodt       |Norway        |2006 Winter|Alpine Skiing|Alpine Skiing Men's Super G                  |Gold  |
|21 |Ragnhild Margrethe Aamodt|Norway        |2008 Summer|Handball     |Handball Women's Handball                    |Gold  |
|25 |Alf Lied Aanning         |Norway        |1920 Summer|Gymnastics   |Gymnastics Men's Team All-Around, Free System|Silver|
|29 |Willemien Aardenburg     |Netherlands   |1988 Summer|Hockey       |Hockey Women's Hockey                        |Bronze|
+---+-------------------------+--------------+-----------+-------------+---------------------------------------------+------+
only showing top 20 rows

+---+--------------+--------------------+
|NOC|region        |notes               |
+---+--------------+--------------------+
|AFG|Afghanistan   |null                |
|AHO|Curacao       |Netherlands Antilles|
|ALB|Albania       |null                |
|ALG|Algeria       |null                |
|AND|Andorra       |null                |
|ANG|Angola        |null                |
|ANT|Antigua       |Antigua and Barbuda |
|ANZ|Australia     |Australasia         |
|ARG|Argentina     |null                |
|ARM|Armenia       |null                |
|ARU|Aruba         |null                |
|ASA|American Samoa|null                |
|AUS|Australia     |null                |
|AUT|Austria       |null                |
|AZE|Azerbaijan    |null                |
|BAH|Bahamas       |null                |
|BAN|Bangladesh    |null                |
|BAR|Barbados      |null                |
|BDI|Burundi       |null                |
|BEL|Belgium       |null                |
+---+--------------+--------------------+
only showing top 20 rows